doctype html
html(lang="ko-KR")
  head
    link(
      rel="apple-touch-icon",
      sizes="57x57",
      href="./img/icons/apple-icon-57x57.png"
    )
    link(
      rel="apple-touch-icon",
      sizes="60x60",
      href="./img/icons/apple-icon-60x60.png"
    )
    link(
      rel="apple-touch-icon",
      sizes="72x72",
      href="./img/icons/apple-icon-72x72.png"
    )
    link(
      rel="apple-touch-icon",
      sizes="76x76",
      href="./img/icons/apple-icon-76x76.png"
    )
    link(
      rel="apple-touch-icon",
      sizes="114x114",
      href="./img/icons/apple-icon-114x114.png"
    )
    link(
      rel="apple-touch-icon",
      sizes="120x120",
      href="./img/icons/apple-icon-120x120.png"
    )
    link(
      rel="apple-touch-icon",
      sizes="144x144",
      href="./img/icons/apple-icon-144x144.png"
    )
    link(
      rel="apple-touch-icon",
      sizes="152x152",
      href="./img/icons/apple-icon-152x152.png"
    )
    link(
      rel="apple-touch-icon",
      sizes="180x180",
      href="./img/icons/apple-icon-180x180.png"
    )
    link(
      rel="icon",
      type="image/png",
      sizes="192x192",
      href="./img/icons/android-icon-192x192.png"
    )
    link(
      rel="icon",
      type="image/png",
      sizes="32x32",
      href="./img/icons/favicon-32x32.png"
    )
    link(
      rel="icon",
      type="image/png",
      sizes="96x96",
      href="./img/icons/favicon-96x96.png"
    )
    link(
      rel="icon",
      type="image/png",
      sizes="16x16",
      href="./img/icons/favicon-16x16.png"
    )
    link(rel="manifest", href="./img/icons/manifest.json")
    meta(name="msapplication-TileColor", content="#ffffff")
    meta(
      name="msapplication-TileImage",
      content="./img/icons/ms-icon-144x144.png"
    )
    meta(name="theme-color", content="#ffffff")
    meta(http-equiv="Cache-Control", content="no-cache")
    meta(http-equiv="Pragma", content="no-chche")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/PacMan_lose.css")
    title P4CM4N
  body
    main
      h1 PAC-MAN
      .yourScore
        div
          p SCORE: #{ score }
          p LEVEL: #{ level }
          p NAME: #{ name }
      if topInfo
        .topList
          div
            ul
              li RANK
              li SCORE
              li LEVEL
              li NAME
            each user, index in topInfo
              ul
                if String(index + 1).length == 1
                  li 00#{ index + 1 }.
                  li #{ user.score }
                  li #{ user.level }
                  li #{ user.name }
                else if String(index + 1).length == 2
                  li 0#{ index + 1 }.
                  li #{ user.score }
                  li #{ user.level }
                  li #{ user.name }
                else
                  li #{ index + 1 }.
                  li #{ user.score }
                  li #{ user.level }
                  li #{ user.name }
      form(action="/play", method="POST")
        button(type="submit") Retry
        input(type="hidden", name="name", value=name)
